@charset "UTF-8";


/*設定*/
body {
    background: #fff;
    color: #333;
    font-size: 16px;
    font-family: "Montserrat", "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", sans-serif;
    line-height: 1.7;
}
#wrapper {
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.navbar .logo {
  width: 200px;
  margin:0 auto;
}

#wrapper h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}
#wrapper .questionnaire {
    /*background: #f1f1f1;*/
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    /*height:100vh;*/
}

#wrapper .questionnaire .question_title {
  position: relative;
    top: 0;
    width: 100%;
    color: #000;
    text-align: center;
    border-bottom: #9a9a9a solid 1px;
    padding-top: 30px;
    padding-bottom: 15px;
}

#wrapper .questionnaire .question_title h6 {
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 32px;
    color: #000;
    font-family: "Cormorant Garamond", sans-serif;
}

#wrapper .questionnaire .question_title p {
    text-align: center;
}

#wrapper .questionnaire h6 {
  text-align: center;
  line-height:1.5em;
  margin-bottom:3vh;
}



#wrapper .questionnaire .button {
  padding: 20px 90px;
    text-align: center;
    border: 1px solid #404146;
    border-radius: 20px;
    background:#fff;
    box-shadow: 2px 2px 3px #000;
    margin:auto;
    color:#000;
    text-decoration: none;
}

#wrapper .questionnaire .question_title h2 {
    color: #404146;
    font-family: "Montserrat", "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", sans-serif;
    font-size: 24px;
}

.footer {
  background:#1a2228;
}

.footer p a, .footer p {
  color:white;
  font-size:0.8em;
  text-align: right;
  padding-right:30px;
}

.footer p a {
  color:white;
  text-decoration: none;
}

.footer p a:hover {
  text-decoration: underline;
}


#wrapper .questionnaire .select {
  width:60%;
  margin:40px auto;
}

#wrapper .questionnaire .select p {
  text-align: center;
  margin:60px auto;
}

#wrapper .questionnaire .select p span {
    padding: 20px 90px;
    text-align: center;
    border: 1px solid #404146;
    border-radius: 20px;
    background:#404146;
    box-shadow: 2px 2px 3px #000;
}

#wrapper .questionnaire .select p span a {
    text-decoration: none;
    color:white;
}



.btn span.fa-check {
	opacity: 0;
}
.btn.active span.fa-check {
	opacity: 1;
}

/*checkbox*/
ul.cbox-question {
    list-style: none;
    padding: 20px;
}
ul.cbox-question li{
  display: inline;
}
ul.cbox-question li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #5d5d5d;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .3s;
}

ul.cbox-question li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.cbox-question li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.cbox-question li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.cbox-question li input[type="checkbox"]:checked + label {
    border: 2px solid #4781bf;
    background-color: #128bd4;
    color: #fff;
    transition: all .2s;
}

ul.cbox-question li input[type="checkbox"] {
  display: absolute;
}
ul.cbox-question li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.cbox-question li input[type="checkbox"]:focus + label {
  border: 2px solid #06118a;
}
/*checkbox*/

#top_page {
  background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.9)), url('../image/sect-bg/bg01.jpg');
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section1 {
  background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.9)), url('../image/sect005.jpg');
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section2 {
  background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.9)), url('../image/bg05.jpg');
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section3 {
  background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.9)), url('../image/sect004.jpg');
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section4 {
  background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.9)), url('../image/dailyAct_tr.png');
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section5 {
  background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.9)), url('../image/background_tr.png');
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section6 {
  background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.9)), url('../image/sect-bg/sect021.png');
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#wrapper button {
    background: #5cd28d;
    width: 250px;
    display: block;
    margin: 20px auto 30px;
    text-align: center;
    padding: 15px 10px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: none;
    color: #fff;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}

.result {
    padding: 20px;
    border: 3px solid #f1f1f1;
    box-sizing: border-box;
    margin: 0 auto;
    display: none;
    z-index: 2;
    width:100%;
}

.result h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}
.result h2 strong {
    font-size: 24px;
}

.result h3 {
    text-align: center;
    font-size:1.25em;
    text-decoration:underline;
    font-family: "Montserrat", "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", sans-serif;
}

.result h6 {
  text-align: center;
  /*color: red;*/
  font-size:0.8em;
  padding:5px 0;
}

.result p.link {
    text-align: right;
    font-size:10px;

}


.resultModal h5 {
  margin:0 auto;
  text-decoration: underline;
}



/*.result p*/


/*Label Styling*/
.radiogroup {
  padding: 48px 64px;
  border-radius: 16px;
  /*background: #ecf0f3;*/
  box-shadow:
    4px 4px 4px 0px #9c9355 inset,
    -4px -4px 4px 0px #868161 inset;
}


.inside {
  margin: 8px 0;
}

.radiogroup .inside img {
  width:100px;
}

.inside .h-width {
  width:120px;
}

.state {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1e-5;
  pointer-events: none;
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #394a56;
}

.text {
  margin-left: 16px;
  opacity: .6;
  transition: opacity .2s linear, transform .2s ease-out;
}

.indicator {
  position: relative;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  box-shadow:
    -8px -4px 8px 0px #ffffff,
    8px 4px 12px 0px #b0aa82;
  overflow: hidden;
}

.indicator::before,
.indicator::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.indicator::before {
  background-color: #9a9a9a;
  box-shadow:
    -4px -2px 4px 0px #b0aa82,
    4px 2px 8px 0px #fff;
}

.indicator::after {
  background-color: #ecf0f3;
  box-shadow:
    -4px -2px 4px 0px #fff,
    4px 2px 8px 0px #b0aa82;
  transform: scale3d(1, 1, 1);
  transition: opacity .25s ease-in-out, transform .25s ease-in-out;
}

.state:checked ~ .label .indicator::after {
  transform: scale3d(.975, .975, 1) translate3d(0, 10%, 0);
  opacity: 0;
}

.state:focus ~ .label .text {
  transform: translate3d(8px, 0, 0);
  opacity: 1;
}

.label:hover .text {
  opacity: 1;
}

/* box */
.box {
  width: 100%;
  max-width: 400px;
  margin:auto;
  background: white;
  border: 1px solid white;
  border-radius: 3px;
  text-align: left;
  box-shadow: 2px 5px 10px #000;
}

/***** * * Radio checked style related * the fun part starts here * */
.box input[type=radio] {
  display: none;
}
/** * How it should look when hovered */
.box .active-label, .box label:focus, .box label:hover, .box label:active, .box input:checked + label {
  color: #128bd4;
}
.box .active-label:before, .box label:focus:before, .box label:hover:before, .box label:active:before, .box input:checked + .box label:before {
  background: white;
  border-color: #128bd4;
}
/** * Make those labels sexy */
.box label {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  display: block;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, .1);
  background: white;
  whitespace: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.15s ease;
 /** * This is the radio fake dot basically */
}
.box label:first-of-type {
  border: 0;
}
.box label:before {
  content: "";
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 0.2rem solid #ccc;
}
/** * How it should look when checked */
.box input:checked + label:before {
  border-color: white;
  border: none;
  background: #128bd4;
}
/** * How it should look when disabled */
.box input:disabled + label {
  background: #efefef;
  color: rgba(0, 0, 0, .5);
  cursor: not-allowed;
}
.box input:disabled + .box label:hover {
  border-color: rgba(0, 0, 0, .1);
}
.box input:disabled + .box label:before {
  border-color: white;
  background: white;
}



 .radio-select {
	 display: flex;
	 flex-flow: row wrap;
}
 .radio-select > div {
	 flex: 1;
	 padding: 0.5rem;
}
 .radio-select > div input[type="radio"] {
	 display: none;
}
 .radio-select > div input[type="radio"]:not(:disabled) ~ label {
	 cursor: pointer;
}
 .radio-select > div input[type="radio"]:disabled ~ label {
	 color: rgba(188, 194, 191, 1);
	 border-color: rgba(188, 194, 191, 1);
	 box-shadow: none;
	 cursor: not-allowed;
}
 .radio-select > div label {
	 height: 100%;
	 display: block;
	 background: white;
	 border: 2px solid #128bd4;
	 border-radius: 20px;
	 padding: 1rem;
	 margin-bottom: 1rem;
	 text-align: center;
	 box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
	 position: relative;
}
 .radio-select > div input[type="radio"]:checked + label {
	 background: #128bd4;
	 color: rgba(255, 255, 255, 1);
	 box-shadow: 0px 0px 20px #128bd4;
}
 .radio-select > div input[type="radio"]:checked + label::after {
	 color: rgba(61, 63, 67, 1);
	 font-family: FontAwesome;
	 border: 2px solid #128bd4;
	 content: "\f00c";
	 font-size: 24px;
	 position: absolute;
	 top: -25px;
	 left: 50%;
	 transform: translateX(-50%);
	 height: 50px;
	 width: 50px;
	 line-height: 50px;
	 text-align: center;
	 border-radius: 50%;
	 background: white;
	 box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
}
 .radio-select > div input[type="radio"]#control_05:checked + label {
	 background: red;
	 border-color: red;
}



@media (min-width: 992px) {

}


@media screen and (max-width: 896px) {
  #wrapper {
    max-width:100%;
  }

  #wrapper .questionnaire .select {
    width:100%;
    margin:40px auto;
  }
}

@media screen and (min-width: 576px) {
  .modal-dialog {
          max-width: 960px !important; /* New width for default modal */
        }
}

@media screen and (max-width: 575px) {
  ul.cbox-question li label {
    font-size:11px;
  }

  .box label {
    font-size:14px;
  }

  .text {
    margin-left: 10px;
    font-size:10px;
  }


}
